
#check {
  fill: none;
  stroke: green;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  animation: draw 2s infinite ease;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/*
* ADMIN ICONS
*/
.wp-list-table.backorders .column-CB{
  width:5%;
}
.wp-list-table.backorders .column-ID{
  width:5%;
}
.wp-list-table.backorders .column-title{
  width:25%;
}
.wp-list-table.backorders .column-type{
  width:10%;
}

.type.column-type{
  font-size: 10px;
}

.variation{
  font-size: 10px !important;
}

.wp-list-table.backorders .column-supplier{
  width:15%;
}
.wp-list-table.backorders .column-actions{
  width:20%;
}
.wp-list-table.backorders .column-status{
  width:10%;
  text-align: center;
}
.wp-list-table.backorders .column-pdf{
  width:5%;
  text-align: center;
}
.wp-list-table.backorders .column-actions_complete{
  width:10%;
  text-align: center;
}

/*
* LOADING ANIMATION
*/

@-moz-keyframes timer-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes timer-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes timer-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* :not(:required) hides this rule from IE9 and below */
.timer-loader:not(:required) {
  border: 2px solid #cecece;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
}

.timer-loader:not(:required)::before {
  -moz-animation: timer-loader 2250ms infinite linear;
  -webkit-animation: timer-loader 2250ms infinite linear;
  animation: timer-loader 2250ms infinite linear;
  -moz-transform-origin: 1px 1px;
  -ms-transform-origin: 1px 1px;
  -webkit-transform-origin: 1px 1px;
  transform-origin: 1px 1px;
  background: #cecece;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 12px;
  left: 9px;
  top: 10px;
}

.timer-loader:not(:required)::after {
  -moz-animation: timer-loader 25000ms infinite linear;
  -webkit-animation: timer-loader 25000ms infinite linear;
  animation: timer-loader 25000ms infinite linear;
  -moz-transform-origin: 1px 1px;
  -ms-transform-origin: 1px 1px;
  -webkit-transform-origin: 1px 1px;
  transform-origin: 1px 1px;
  background: #cecece;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 8px;
  left: 9px;
  top: 10px;
}